<!DOCTYPE html>

<html>

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  <div class="main">
    <p>This site was created by Sam Edwards. It uses data from MapBox and WeatherStack</p>
    <img class="portrait" src="/images/me.jpeg" />
  </div>
  {{>footer}}
</body>

</html>